#video{
    padding: 50px;
    font-family: anivers, calibri;
    background-image: url('../images/bg.png');
}

#video .title{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

#video .excerpt{
    font-size: 18px;
    font-family: calibri;
    line-height: 30px;
}

#video .content{
    padding-left: 30px;
}