@import 'https://fonts.googleapis.com/css?family=Raleway';

#vision{
    padding: 50px;
    background-color: #EEEEEE;
    box-shadow: 0 0 3px #0072c5;
}

#vision .title{
    font-size: 30px;
    font-family: anivers, calibri;
    text-align: center;
    margin-bottom: 40px !important;
}

#vision .container .row{
    box-shadow: 0 0 5px #d1d1d1;
    padding: 20px;
    background-color: #fff;
}

#vision .container .row:first-child{
    margin-bottom: 50px;
}

#vision .vision, #vision .mission{
    font-family: raleway, calibri;
    font-weight: bold;
    line-height: 40px;
    font-size: 16px;
}

#vision .image{
    border-radius: 50%;
    background-size: 175%;
    background-position: top;
    width: 150px;
    height: 150px;
    border: 4px solid #333;
}