@import 'https://fonts.googleapis.com/css?family=Catamaran:200';

#floater{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: Catamaran, Calibri;
}

.icons{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.icons ul{
    position: relative;
    padding: 0px;
    margin: 0px;
}

.icons ul li{
    list-style-type: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(56 ,66 ,77, 0.7);
    padding: 15px 10px 10px 10px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    left: 0%;
    border-radius: 5px 0 0 5px;
    margin-bottom: 10px;
    width: 100%;
}

.icons ul li:hover{
    background-color: rgba(56, 66, 77, 1);
    left: -8%;
    width: 108%;
}

.icons ul a{
    text-decoration: none;
    color: #fff;
}