#stats{
    background-color: #faaa2e;
    color: #fff;
    padding: 50px;
    text-align: center;
    font-family: anivers, calibri;
    box-shadow: 0 0 3px #333;
}

#stats .number{
    font-size: 80px;
    //text-shadow: 0 0 3px #e4dadd;
}

#stats .text{
    font-size: 30px;
    text-transform: uppercase;
}