body{
    background-color: #00aeef;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    min-height: 200px;
    padding: 20px;
}

#sub_block{
    marign-bottom: 10px;
}

#sub_block p{
    font-size: 17px;
    font-family: Source Sans Pro, Calibri;
    font-weight: bold;
}

#sub_block input{
    margin-bottom: 20px;
}

#sub_block .product{
    display: flex;
}

#sub_block .product input{
    flex: 1;
    margin-left: 10px;
}

#sub_block .product input:first-child{
    margin-left: 0;
}

#sub_block .add_button{
    background-color: #00aeef;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
} 

#sub_block .add_button:hover{
    background-color: #0072c5;
}